* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0;
  min-height: 100vh;
  background-color: #0C1B33;
  font-family: Arial, sans-serif;
}

header {
  display: flex;
  padding: 1% 0 2.5% 0;
  background-image: linear-gradient(to bottom, #0C1B33 50%, #ffffff00);
  background-size: 100%;
  justify-content: space-between;
  position: relative;
}

footer {
  background-color: #333;
  color: #fff;
  padding: 1% 0 1% 0;
}

.nomeSite {
  color: rgb(255, 255, 255);
  font-size: 300%;
  font-weight: bolder;
  padding-left: 5vw;
}

.nomeCategoria {
  color: rgb(255, 255, 255);
  display: flex;
  margin: 0 0 1% 4%;
}

.cabeçario {
  color: #fff;
}

.cabeçario a {
  font-weight: bold;
  transition: 0.3s;
}


.cabeçario a:hover {
  font-weight: bold;
  font-size: large;
  color: #00e6bf;
  transition: 0.3s;
}


.botoesCab1 {
  padding: 2vh 0 0 5vw;
}

.botoesCab1 a {
  margin: 2vh 0 0 50px;
}

.botoesCab2 {
  padding: 2vh 6vw 0 0;
}

.botoesCab2 a {
  margin: 2vh 0 0 50px;
}


.containerImgInicio {
  background: linear-gradient(to top, #0C1B33 31%, #ffffff00 45%);
  margin: 0 0 -41vh 0;
}

.espaço-texto{
  color: #fff;
  display: flex;
  position: relative;
  font-size: 40px;
  font-weight: bolder;
  top: -60vh;
  margin: 0 1% 0 2%;
}

.espaço-preco {
  color: #fff;
  display: flex;
  position: relative;
  font-size: 20px;
  font-weight: bolder;
  top: -57vh;
}

.botoes-compra {
  display: flex;
  position: relative;
  top: -54vh;
  margin: 0 1% 0 2%;
}

#desconto-jogo {
  background-color: #ff0000;
  margin: -0.55vh 1% 0 2%;
  padding: 0.3%;
  border-radius: 5px;
}

#botao-compra{
  display: flex;
  position: relative;
  font-size: 20px;
  font-weight: bolder;
  border-style: none;
  border-radius: 5px;
  padding: 0.5%;
  color: #000000;
  background-color: #0fffa3;
}

#botao-desejo{
  display: flex;
  position: relative;
  left: 2%;
  font-size: 20px;
  font-weight: bolder;
  border-style: none;
  border-radius: 5px;
  padding: 0.5%;
  color: #000000;
  background-color: #0fffa3;
}

#seta-direita{
  display: flex;
  position: relative;
  left: 94VW;
  top: -70vh;
}

#seta-esquerda{
  display: flex;
  position: relative;

  top: -80vh;
}

.imgJogosCarrosel {
  display: flex;
  justify-content: space-between;
  filter: drop-shadow();
  position: relative;
  margin: 0 auto;
  top: -10vh;
  z-index: -1;
}

.imgJogosCorpo {
  color: aliceblue;
  display: flex;
  justify-content: space-between;
  position: relative;
  padding: 1% 4% 3% 4%;
}


.carDJogo {
  height: 37vh;
  width: 22vw;
  background-color: #122a50;
  border-radius: 4%;
}

.carDJogo p {
  padding: 2% 0 0 3%;
}



#bt-desejo {
  display: flex;
  position: relative;
  background: #0fffa3;
  color: #000000;
  border-radius: 0 0 10px 0;
  padding: 1.6% 8% 1.6% 9.5%;
  top: 3.7%;
  border-style: none;
  font-weight: bolder;
  left: 15.4vw;
  top: -2.1vh;
}

#bt-compra {
  display: flex;
  position: relative;
  top: 3.7%;
  background: #0fffa3;
  font-weight: bolder;
  color: #000000;
  border-radius: 0 0 0 10px;
  padding: 1.6% 27.5% 1.6% 25%;
  border-style: none;
}

#imgIn {
  object-fit: cover;
  width: 100%;
}

#imgCorpo {
  height: 25vh;
  width: 22vw;
  min-height: 20vh;
  min-width: 17vw;
  border-radius: 4% 4% 0 0;
}

.footer-content {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}


.footer-content>div {
  flex: 1;
  margin: 0 20px;
  min-width: 200px;
}


.footer-content h4 {
  font-size: 18px;
  margin-bottom: 10px;
  text-transform: uppercase;
  letter-spacing: 1px;
  font-weight: bold;
}


.footer-content ul {
  list-style-type: none;
  padding: 0;
}

.footer-content ul li {
  margin-bottom: 8px;
}

.footer-content a {
  color: #fff;
  text-decoration: none;
  transition: color 0.3s ease;
}

.footer-content a:hover {
  color: #0fffa3;
}


.footer-social a {
  display: inline-block;
  margin-right: 15px;
  font-size: 20px;
  color: #fff;
  transition: color 0.3s ease;
}

.footer-social a:hover {
  color: #0fffa3;
}

.footer-termos {
  text-align: center;
  margin-top: 20px;
}

.footer-termos p {
  font-size: 14px;
}

.footer-termos a {
  color: #fff;
}

.footer-termos a:hover {
  color: #0fffa3;
}